.doctor-profile-container {
    background: #fff;
    border-radius: 40px;
    padding: 20px 50px;
    margin-bottom: 20px;
}
.doctor-profile-container.special {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.doctor-profile-img {
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    max-width: 150px;
    height: 150px;
    max-height: 150px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    background: url(../images/person.jpg) no-repeat center;
    background-size: cover;
    margin: auto;
}

.doctor-profile-container .rating {
    color: #ffe24a;
    margin: 35px auto 10px;
    font-size: 20px;
}
.doctor-profile-overall-rating {
    color: #c7c7c7;
    font-size: 13px;
    margin-bottom: 10px;
}
.doctor-profile-heart {
    border-radius: 50%;
    background: #c7c7c7;
    color: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 35px;
    cursor: pointer;
}
.doctor-profile-heart.active {
    color: #d23838;
}
.doctor-profile-name {
    font-size: 25px;
    text-align: left;
    color: #c7c7c7;
    margin-left: -30px;
    margin-top: 10px;
}
.doctor-profile-name span {
    color: #fb9090;
}
.doctor-profile-title {
    text-align: left;
    color: #c7c7c7;
    margin: 10px auto;
}
.doctor-profile-details {
    text-align: left;
    color: #c8c8c8;
    font-size: 15px;
}
.doctor-profile-askMe {
    background: #62d6af;
    color: #fff !important;
    border-radius: 0;
    width: 120px;
    font-size: 20px;
    line-height: 1;
    margin-top: 25px;
}
.doctor-profile-container-head {
    text-align: left;
    margin-left: -15px;
    color: #7d7d7d;
    font-weight: bold;
    font-size: 20px;
}
.doctor-profile-container-head i {
    color: #fb9090;
    font-size: 23px;
}
.doctor-profile-container-services {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 20px auto 0;
}
.doctor-profile-container-services div {
    border-radius: 10px;
    width: 15%;
    border: 1px solid #5997f5;
    color: #5997f5;
    margin-right: 7px;
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 1.4;
}
.doctor-profile-patient-rating {
    color: #c7c7c7;
    font-size: 18px;
    margin-bottom: 35px;
}
.doctor-profile-comment-container {
    margin: 0 -50px;
    border-bottom: 1px solid #ccc;
    padding: 15px 30px;
}
.doctor-profile-comment-container:last-child {
    border-bottom: 0;
}
.doctor-profile-comment-name {
    text-align: left;
    color: #c8c8c8;
    font-size: 20px;
}
.rating.comment {
    margin: 0;
    font-size: 18px;
    text-align: left;
}
.doctor-profile-comment-rate-time-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.doctor-profile-comment-rate {
    color: #c8c8c8;
    font-size: 20px;
}
.doctor-profile-comment-time {
    color: #c7c7c7;
    font-size: 13px;
}

.doctor-profile-booking-head {
    background: #ff8787;
    color: #fff;
    margin: -20px -50px 0;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    line-height: 4;
    font-size: 15px;
}
.doctor-profile-booking-details {
    text-align: left;
    margin: 20px auto;
    color: #c7c7c7;
}
.doctor-profile-booking-details span {
    color: #ff8787;
    font-weight: bold;
}
.doctor-profile-booking-details img {
    max-width: 30px;
    margin-right: 5px;
}
.doctor-profile-available-time {
    color: #ff8787;
    font-size: 15px;
    margin: 25px auto;
}
.doctor-profile-container .offer  {
    background: #fbfbfb;
    border-radius: 30px;
}
.doctor-profile-container .offer.offline .top h5 ,.doctor-profile-container .offer.offline .top{
    background: #c8c8c8;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}
.doctor-profile-container .offer.offline .bottom h5 ,.doctor-profile-container .offer.offline .bottom  {
    background: #c8c8c8;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.doctor-profile-container .offer .top h5{
    background: #98c68d;
    color: #fff;
    font-size: 12px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    line-height: 2;
}
.doctor-profile-container .offer ul {
    padding: 0;
    color: #c8c8c8;
    list-style: none;
    margin: 8px auto;
    font-size: 12px;
}
.doctor-profile-container .offer ul li {
    line-height: 2.5;
}
.doctor-profile-container .offer ul li:hover {
    background: #0070cd;
    color: #fff;
    cursor: pointer;
}
.doctor-profile-container .offer.offline ul li:hover {
    background: #fff;
    color: #c8c8c8;
    cursor: inherit;
}

.doctor-profile-container .offer .bottom {
    background: #ff8787;
    color: #fff;
    font-size: 12px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    line-height: 2;
}
.doctor-profile-container .offer .bottom h5 {
    font-size: 12px;
    line-height: 2
}
.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    left: -40px;
    top: 26%;
    font-size: 40px;
    color: #c8c8c8;
}
.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    right: -40px;
    top: 26%;
    font-size: 40px;
    color: #c8c8c8;
}
.owl-carousel .owl-nav button.owl-prev:focus, .owl-carousel .owl-nav button.owl-next:focus {
    outline: none;
}
.doctor-profile-book-online {
    color: #ff8787;
    font-size: 15px;
    margin: 25px auto;
}
.doctor-profile-pay-ways {
    display: flex;
    align-items: center;
    justify-content: center;
}
.doctor-profile-pay-ways img {
    max-width: 60px;
    margin: 0 10px;
}
.doctor-profile-about-p {
    text-align: left;
    color: #c8c8c8;
    font-size: 15px;
    margin-left: 15px;
    margin-bottom: 0;
    margin-top: 10px;
}

.doctor-profile-imgs-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}
.doctor-profile-img-container {
    max-width: 20%;
    margin-right: 15px;
    position: relative;
}
.doctor-profile-img-container.display:after {
    content: "+5";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000061;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}


.rating-stars ul > li.star {
    display: inline-block;
}
.rating-stars ul > li.star > i.fa {
    font-size: 2.5em;
    color: #ccc;
}

.rating-stars ul > li.star.selected > i.fa {
    color: #FF912C;
}


.rating-stars ul > li.star.hover > i.fa {
    color: #FFCC36;
}
.doctor-profile-comments-btn {
    background: #62d6af;
    color: #fff !important;
    border-radius: 0;
    width: 120px;
    font-size: 20px;
    line-height: 1;
    margin-bottom: 30px;
}
.doctor-profile-comments-textarea {
    resize: none;
    border-radius: 0;
}
/*======================================================*/
/*Start Media */
@media (max-width: 1199px) {
    .doctor-profile-container {
        padding: 20px 30px;
    }
    .owl-carousel .owl-nav button.owl-prev {
        left: -30px;
    }
    .owl-carousel .owl-nav button.owl-next {
        right: -30px;
    }
    .doctor-profile-booking-details img {
        max-width: 20px;
    }
    .doctor-profile-booking-details {
        font-size: 13px;
    }
    .doctor-profile-booking-head {
        margin: -20px -30px 0;
    }
    .doctor-profile-comment-container {
        margin: 0 -30px;
    }
}

@media (max-width: 767px) {
    .doctor-profile-container-services div {
        font-size: 18px;
    }
}

@media (max-width: 576px) {
    .doctor-profile-available-time {
        margin: 15px auto;
        padding-bottom: 50px;
    }
    .doctor-profile-comment-rate {

        font-size: 12px;
    }
    .doctor-profile-comment-time {
        font-size: 9px;
    }
    .doctor-profile-container {
        padding: 20px;
    }
    .doctor-profile-comment-container {
        margin: 0 -20px;
    }
    .doctor-profile-container-head i {
        font-size: 16px;
    }
    .doctor-profile-container-head {
        font-size: 16px;
    }
    .doctor-profile-container-services div {
        font-size: 12px;
        width: 17%;
    }
    .doctor-profile-about-p {
        font-size: 13px
    }
    .doctor-profile-name {
        font-size: 17px;
        margin-left: 0;
        text-align: center;
    }
    .doctor-profile-title {
        font-size: 13px;
        text-align: center;
    }
    .doctor-profile-details {
        font-size: 12px;
        text-align: center;
    }
    .doctor-profile-container .rating {
        margin: 10px auto 10px;
        font-size: 17px;
    }
    .doctor-profile-askMe {
        font-size: 17px;
    }
    .doctor-profile-img-container {
        margin-right: 5px;
    }
    .doctor-profile-img-container.display:after {
        font-size: 12px
    }
    .doctor-profile-patient-rating {
        font-size: 14px;
    }
    .doctor-profile-comment-name {
        font-size: 16px;
    }
    .doctor-profile-booking-head {
        margin: -20px -20px 0;
    }
}